.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.loginbutton {
  margin: 2rem;
  padding: 1rem;
  background: linear-gradient(to bottom right, #7b61ff, #61a0ff);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Desktop view */

@media screen and (min-width: 768px) {
  .login {
    padding: 2rem;
    text-align: center;
    height: 100%;
  }

  .loginbutton {
    width: 50%;
    margin-top: 2rem;
  }
}

/* Tablet view */

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .login {
    padding: 2rem;
    text-align: center;
  }

  .loginbutton {
    width: 50%;
    margin-top: 2rem;
  }
}
