.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.dateSelectContainer {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.dateSelectContainer > :first-child {
  margin-right: auto;
}

.dateSelectContainer > :last-child {
  margin-left: auto;
}

.dateSelectContainer button {
  background-color: #9747ff;
  color: #fff;
}

.budgetOverView {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.budgetOverView p {
  margin: 6px;
  color: #fff;
}

.addBudgetButton {
  margin-top: 4px;
}

.description {
  font-size: 0.85rem;
}

.description h1 {
  text-transform: capitalize;
  text-align: center;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
}

.spentLeftWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.spentText {
  color: #fff;
  font-weight: 600;
}
.leftText {
  color: #fff;
  font-weight: 600;
  opacity: none;
}

.code {
  font-weight: 700;
}

.card {
  padding: 4rem 1.2rem;
  border-radius: 10px;
  background: #2b2c4b;
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card:hover {
  cursor: pointer;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.goToExpensesButtonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.differenceLastMonth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding: 1rem;
}

.differenceLastMonth p {
  padding: 2px;
}

/* Mobile */
@media (max-width: 700px) {
  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}
