.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding-top: 4rem;
  padding-bottom: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.buttonWrapper > :first-child {
  margin-right: auto;
}

.buttonWrapper > :last-child {
  margin-left: auto;
}

.button {
  background-color: #9747ff;
  color: #fff;
}

.button svg {
  color: #fff;
}

.select {
  color: #fff;
  margin: 0 auto;
}

.select svg {
  color: #fff;
}

.card {
  padding: 4rem 1.2rem;
  border-radius: 10px;
  background: #2b2c4b;
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  width: 100%;
}

.description p {
  margin: 0;
  padding: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.wrapper p {
  margin: 4px 0;
  opacity: 0.8;
}

.amountSpent {
  font-size: 20px;
  color: #fff;
}
.amountLeft {
  font-size: 20px;
  color: #fff;
}

.budgetOverview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.overBudget {
  color: #ff6161;
}

.belowBudget {
  color: #30c9c9;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.MuiFormControl-root {
  width: 100%;
  margin-top: 1rem;
}

.formSelect {
  width: 100%;
  margin: 1rem 0;
}

.formSelect svg {
  color: #fff;
}

.formContainer button {
  width: 50%;
  margin-top: 1rem;
}

.doughnut {
  align-self: center;
  padding: 1rem;
}

.expensesWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  align-self: center;
}

.categoryCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}
.accordion {
  width: 100%;
}

.chartLegend {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-bottom: 4px;
  align-self: center;
  margin-right: 6px;
}

.categoryWrapper {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  position: relative;
}

.expense {
  margin-right: auto;
  text-transform: capitalize;
}

.divider {
  margin: 6px 0;
  color: #0f102b;
}
