.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.buttonWrapper button {
  margin: 10px;
  width: 100%;
}

.description {
  align-items: center;
  font-size: 0.85rem;
  text-align: center;
  padding: 6rem 1rem;
}
