.loginPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #7b61ff, #2b2c4b);
}

.sparklesWrapper {
  height: 750px;
  width: 750px;
}
