.buttonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: #2b2c4b;
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: border 200ms;
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-transform: capitalize;
}
